<div>
	<div style="padding: 40px;">
	<form>
	  <div class="form-group">
	    <label for="title">Title</label>
	    <input type="text" class="form-control" id="title"  placeholder="Enter title" ng-model="book.title">
	  </div>
	  <div class="form-group">
	    <label for="author">Author</label>
	    <input type="text" class="form-control" id="author"  placeholder="Enter author name" ng-model="book.author">
	  </div>
	  <div class="form-group">
	    <label for="publisher">Publisher</label>
	    <input type="text" class="form-control" id="publisher"  placeholder="Enter publisher" ng-model="book.publisher">
	  </div>
	  <div class="form-group">
	    <label for="price">Price</label>
	    <input type="text" class="form-control" id="price"  placeholder="Enter price" ng-model="book.price">
	  </div>
	  <div class="form-group">
	    <label for="publisher">Publisher</label>
	    <input type="text" class="form-control" id="publisher"  placeholder="Enter publisher" ng-model="book.publisher">
	  </div>
	  <div class="form-group">
	    <label for="imgNumber">Image number</label>
	    <input type="text" class="form-control" id="imgNumber"  placeholder="Enter imgNumber" ng-model="book.imgNumber">
	  </div>
	  <div class="form-group">
	    <label for="count">Count</label>
	    <input type="text" class="form-control" id="count"  placeholder="Enter number of books" ng-model="book.count">
	  </div>
	  <div class="form-check">
	  	<label for="count">Description</label>
	  	<textarea class="form-control" id="description" ng-model="book.description">
	  		
	  	</textarea>
	  </div>
	  <button type="button" class="btn btn-primary" ng-click="edit()">Submit</button>
	</form>
</div>
</div>